<html>
<head>
<title>Mon Exercice JS N°2</title>
<script>

function afficher(){
	
	var saisie = parseInt(document.getElementById('V1').value);
	var resultat = "";	
	var resultats ="";
		
	for (j=0; j<saisie ; j++){
        for (i=0; i<saisie-j; i++){
                resultats += "  "; 
        }
		resultats += "</br>";
	for(i=0; i<j+1; i++){
		
                resultat += "*" 
	}
		resultat += "</br>";
		
        }
	
	document.getElementById('result').innerHTML = resultat;
	document.getElementById('results').innerHTML = resultats;

}

</script>

</head>
<body>
<h1>Les étoiles</h1>
<p>Saisir un chiffre : <input id="V1"/></p>
<button onclick="afficher()">Afficher</button>
<div id="result"></div>
<div id="results"></div>
</body>
</html> 
