<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Exercice HTML</title>
	</head>
	
	<body>

<style>
li>ul{color:red}		

</style>		

<!-- Liste à puces -->

<h1> Aboubakar ABDOURAMAN</h1>

<ol> Vehicule
<li>
<ul>
	<li>Voiture</li>
	<li>Camion</li>
	<li>Scooter</li>
</ul>
</li>

</ol>

		<ol> Hébergemenet
<li>
<ul>
	<li>Maison</li>
	<li>Cabane</li>
	<li>Appartement</li>
</ul>
</li>

</ol>
<ol> Animaux
<li>
<ul>
	<li>Chien</li>
	<li>Chat</li>
	<li>Poisson</li>
</ul>
</li>

</ol>
<!-- Liste ordonnée -->


<!-- Ecrire le code de votre exercice  -->



</body>

</html>
