<html>
	<head>
		<meta charset="UTF-8"/>
		<title>TP HTML</title>
	</head>
	
	<body>
		<h1>Exercice 1</h1>
<h2>Mes cocktails préférés</h2>
   <ul>
   <li><p>Mojito</p></li>
   <li><p>Gin Fizz</p></li>
   <li><p>Bloody mary</p></li>
   <li><p>Long Island Iced Tea</p></li>
     </ul>

<h1>Exercice 2</h1>
<h2>Mes <span>cocktails préférés</span></h2>
   <p>Mojito</p>
   <p>Gin Fizz</p>
   <p>Bloody mary<p>
   <p>Long Island Iced Tea</p>

<h1>Exercice 3</h1>
<p>Le <a href="https://fr.wikipedia.org/wiki/Moscow_Mule">Moscow mule</a> est un cocktail à base de vodka, de bière de gingembre épicée et de jus de citron vert,
 accompagné d'une rondelle de citron.</p>
<p>Le <a href="https://fr.wikipedia.org/wiki/Long_Island_iced_tea ">Long Island Iced Tea</a> est un cocktail à base de tequila, de gin, de vodka, de rhum et de liqueur d'oranges.</p>

<h1>Exercice 4</h1>

<p>Un French Connection est un cocktail composé de parts égales de cognac et d'amaretto.</p>
   <p><img src="templates/french-connetion.png" alt="French Connection" /></p>





		
	</body>
</html>
