<html>
<head>


</head>
<body>
	<h1>Dresseur de pokémon</h1>
  <h2>Les champs marqués d'une * sont obligatoires</h2>

<form action="#">
<fieldset>
<legend>Nouveau dresseur</legend>
<p>Nom * <br><input name="A" type="Text" value=" "/></p>
 <p>Description<br> <textarea rows="3" cols="30	" name="H">
</textarea></p>


<p>Equipe
<br><input name="C" type="radio" value="Rouge"/> Rouge
<br><input name="C" type="radio" value="Jaune"/> Jaune
<br><input name="C" type="radio" value="Bleu"/> Bleu
</p>
  <label for="date">Annivairesaire *</label><br>
<input type="date" id="date" name="date">

</p>
<p><input type="submit" value="Envoyer" />
</p>
  </fieldset>


</form>

</body>
</html>
