<html>

<head>
	<script>
		f

		function afficher_image() {
			if (document.getElementById('choix1').checked) {
                document.getElementById('image1').style.display = "block";
			}
			else { document.getElementById('image1').style.display = "none"; }

            if (document.getElementById('choix2').checked) {
                document.getElementById('image2').style.display = "block";
			}
			else { document.getElementById('image2').style.display = "none"; }
            if (document.getElementById('choix3').checked) {
                document.getElementById('image3').style.display = "block";
            }
			else { document.getElementById('image3').style.display = "none"; }
		}

	</script>
</head>

<body>
	>

	<h2>Afficher image.s</h2>
	<button onclick="afficher_image()">Afficher</button>
	<div>
		<div>
			<input type="checkbox" id="choix1">Image 1
			<input type="checkbox" id="choix2">Image 2
			<input type="checkbox" id="choix3">Image 3
		</div>
		<div>
			<img id="image1" src="{{ url_for('static', filename='gojo.jpg')}}" style="display:none;width: 100px;" alt="">
			<img id="image2" src="{{ url_for('static', filename='isoka.jpg')}}" style="display:none; width: 100px;" alt="">
			<img id="image3" src="{{ url_for('static', filename='ulqio.jpg')}}" style="display:none;width: 100px;" alt="">
		</div>
	</div>



</body>

</html>
