<html>
	<head>
		<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TP1_HTML</title>
	</head>
	
	<body>
    <p><h1>Exercice 1</h1><br>
      
      <h1>Tritre de niveau 1.</h1><br>
      <h2>Tritre de niveau 2.</h2><br>
      <h3>Tritre de niveau 3.</h3><br>
      <h3>Tritre de niveau 3.</h3><br>
      <h2>Tritre de niveau 2.</h2><br>
      <h1>Tritre de niveau 1.</h1><br>
      <p>Texte en <b>gras</b>,texte en <i>italique</i>, texte <u>souligné</u> </p>
     <p>lien vers <a href="https://">l'actualité</a></p>
    <p>Ecrivez-moi à <a href="mailto:spastore2@free.fr">spastore2@free.fr</a></p>
    <p>Liste des items:
    <ol>
      <li> item 1</li>
       <li> item 2:
       <ul>
         <li>element 1</li>
         <li>element 2</li>
       </ul></li>
      <li> item 3</li>
    </ol></p>
    </p>
	<p><h1>Exercice 2</h1><br>
		<h2>Voici la première partie</h2>
	<table border="1">
		<tr>
			<td>un tableau</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>à 6</td>
			<td>cases</td>
		</tr>
	</table>
		<h2><i>Voici la deuxième partie</i></h2>
		<p color="red"> Une liste</p>
		<ol>
			<li>
				premier point <ul>
					<li>rubrique 1</li>
					<li>rubrique 2</li>
				</ul>
			</li>
			<li> 2e point</li>
			<li> 2e point
				<ul>
					<li>rubrique 1</li>
					<li>rubrique 2</li>
				</ul>
			</li>
		</ol>
		
		<h2><b>Voici la troisième partie :</b></h2>
		<table border="1">
        <tr>
            <td >un autre tableau</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td rowspan="2">
                <table border="1" >
                    <tr><td></td></tr>
                    <tr><td ></td></tr>
                    <tr><td ></td></tr>
                </table>
            </td>
            <td rowspan="2"></td>
            <td>
                <table border=1>
                    <tr>
                        <td ></td>
                        <td ></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
		
	</p>
	
		
   
    
    <form action="#" method="post">
        <p>
            Votre pseudo : 
            <input type="text" name="pseudo">
        </p>

        <p>
            Votre mot de passe : 
            <input type="password" name="password">
        </p>

        <p>
            Ressaisir votre mot de passe : 
            <input type="password" name="confirm_password">
        </p>

        <p>OS préféré :</p>
        <p>
            <input type="radio" name="os" value="Windows XP"> Windows XP <br>
            <input type="radio" name="os" value="Windows Vista"> Windows Vista <br>
            <input type="radio" name="os" value="MacOS X"> MacOS X <br>
            <input type="radio" name="os" value="Linux"> Linux <br>
            <input type="radio" name="os" value="Autre"> Autre
        </p>

        <p>Vous possédez :</p>
        <p>
            <input type="checkbox" name="ordinateur_bureau"> Un ordinateur de bureau <br>
            <input type="checkbox" name="portable"> Un portable <br>
            <input type="checkbox" name="netbook"> Un netbook <br>
            <input type="checkbox" name="tablette"> Une tablette (Pad)
        </p>

        <p>Votre profession :</p>
        <p>
            <select name="profession" size="5">
                <option>Chômeur</option>
                <option>Etudiant</option>
                <option>Fonctionnaire</option>
                <option>Privé</option>
                <option>Retraité</option>
            </select>
        </p>

        <p>
            <input type="submit" value="S'inscriree !">
        </p>

    </form>

		 
		
  </body>
</html>
