<html>
	<head>
		<meta charset="UTF-8"/>
		<title>TP1_HTML</title>
	</head>
	
	<body>
    <p><h1>Exercice 1</h1><br>
      
      <h1>Tritre de niveau 1.</h1><br>
      <h2>Tritre de niveau 2.</h2><br>
      <h3>Tritre de niveau 3.</h3><br>
      <h3>Tritre de niveau 3.</h3><br>
      <h2>Tritre de niveau 2.</h2><br>
      <h1>Tritre de niveau 1.</h1><br>
      <p>Texte en <b>gras</b>,texte en <i>italique</i>, texte <u>souligné</u> </p>
     <p>lien vers <a href="https://">l'actualité</a></p>
    <p>Ecrivez-moi à <a href="mailto:spastore2@free.fr">spastore2@free.fr</a></p>
    <p>Liste des items:
    <ol>
      <li> item 1</li>
       <li> item 2:
       <ul>
         <li>element 1</li>
         <li>element 2</li>
       </ul></li>
      <li> item 3</li>
    </ol></p>
    </p>
	<p><h1>Exercice 2</h1><br>
		<h2>Voici la première partie</h2>
	<table border="1">
		<tr>
			<td>un tableau</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>à 6</td>
			<td>cases</td>
		</tr>
	</table>
		<h2><i>Voici la deuxième partie</i></h2>
		<p color="red"> Une liste</p>
		<ol>
			<li>
				premier point <ul>
					<li>rubrique 1</li>
					<li>rubrique 2</li>
				</ul>
			</li>
			<li> 2e point</li>
			<li> 2e point
				<ul>
					<li>rubrique 1</li>
					<li>rubrique 2</li>
				</ul>
			</li>
		</ol>
		<h2><b>Voici la troisième partie :</b></h2>
		<table border="1">
			<tr>
				<td>un autre tableau</td>
				<td> </td
				<td> </td>
				<td> </td>
			</tr>
			<tr > 
				
				<td rowspan="3"> </td>
				<td>
					<td> </td>
					<td> </td>
					<td> </td>
				</td>
				<td rowspan="3"> </td>
				<td>
					<td> </td>
					<td>
						<td> </td>
						<td> </td>
					
					</td>
					<td> </td>
				</td>
		
			</tr>
			
		</table>
		
	
	
	
	
	</p>
		
  </body>
</html>
